/* Menu */
.menu-bg{
    background: #464361;
    width: 100%;
    position: fixed;
}
.menu{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu-logo{
    font-size: 2.25em;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 10px;
}
.menu-logo a{
    color:#fff;
}
.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.menu-nav ul a{
    display: block;
    color: #fff;
    letter-spacing: 2px;
    padding: 10px 10px;
    text-transform: uppercase;
    font-size: 1.15em;
    
}
        @media(max-width:415px){
            .menu-nav ul a{
                font-size: 1em;
            }
        }

/* Fim Menu */

/* Sobre */
.sobre{
    padding: 80px 0 10px 0;
    margin: 0 auto;
    max-width: 960px;
}

.sobreInfo{
    margin: 0 15px;
}

.quemsou{
    text-align: center;
}

.title{
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#857bba; 
}
.white{
    color:#fff;; 
}

.title::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background: #464361;
    margin: 8px auto;
}

.inform{
    font-weight: 300;
    font-size: 1.25em;
    line-height: 2;
    text-align: start;
    letter-spacing: 2px;
}

.inform span{
    color:#000;
}

/* Fim Sobre */

/* Skills */

.skills{
    margin: 0 auto;
    padding: 10px calc((100% - 960px) / 2);
    border-bottom: 3px solid rgb(70, 67, 97);
    background: #7A96C7;
    color: #fff;
}

.skills-info{
    margin: 0 25px; 
}

.skill-list {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    list-style: circle;
    line-height: 3;
    text-transform: uppercase;
}

.skills-inform{
    font-weight: 300;
    font-size: 1.15em;
    line-height: 2;
    text-align: start;
    letter-spacing: 2px;
}

/* Projetcs */
.projects{
    margin: 0 auto;
    max-width: 960px;
}

.projects-info{
    margin: 10px 25px; 
    display: flex;
    align-items: center;
    border-left: 5px solid #104891;
    max-height: 130px;
    text-align: center;
}

@media(max-width:850px){
    .projects-info{
        max-height: 300px;
        flex-direction: column;
    }
}

.projects-info p{
    color:#104891;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.project-title{
    padding:30px;
    color:#104891;
    letter-spacing: 2px;
}

.projects-links {
    display: flex;
    color:#104891;
    padding: 30px;
}
.projects-links li{
    list-style: none;
    margin: 5px;
    padding: 5px 15px;
    border:3px solid #464361;
    color: #464361;
}

.projects-links li:hover{
    border: 3px solid #464361;
    transition: 0.5s;
}


.projects-links li a{
    font-weight: 900;
    letter-spacing: 2px;
    color: #464361;
}

/* Contact */
.contact{
    margin: 0px 25px; 
    padding: 60px calc((100% - 960px) / 2);
    background: #f7f7f7;
    display: flex;
    justify-content: space-between;
}

@media(max-width:850px){
    .contact{
        flex-direction: column;
    }
}
@media(max-width:570px){
    .redesList{
        flex-direction: column;
    }
    .redesList li{
        margin-top: 10px;
    }

}

.redesSociais{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-bottom: 5px solid #fff;
}

.redesSociais h2,h3 {
    color: #a4a4a4;
    text-transform: uppercase;
}
.redesSociais h3 a{
    color: #222222;
}

.redesList{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    list-style:circle;
}

.contactInfo{
    border-bottom: 5px solid #fff;
}
.redesList li{
    padding: 0px 20px 0 0;
}
.redesList li a{
    border-bottom: 2px dashed #2222;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.10em;
    color: #222222;
}
.redesList li a:hover{
    background: #2222;
    color: #a4a4a4;
    transition: 0.5s;
    border-bottom: 2px dashed #a4a4a4;
}

footer{
    padding: 60px calc((100% - 960px) / 2);
    background: #464361;
    display: flex;
    justify-content: center;
}

footer p {
    text-transform: uppercase;
    color:#fff;
}





